<div id="top">
	<div class="center">
    <div class="menu-left">
    <ul>
     <li><a href="javascript:;" onclick="setHomepage('http://www.myblog.com');">设为首页</a></li>
     <li><a href="javascript:;" onclick="addFavorite('http://www.myblog.com','www.myblog.com - Welcome to 我的博客')">收藏本站</a></li>      
    </ul>
    </div>
    <div class="menu-right">
	    <ul id="info">
{if isset($smarty.session.user)}
        <li>欢迎 {$smarty.session.user.user_name}(管理员)！</li>
        <li><a href="index.php?p=Admin&c=Admin&a=admin">管理</a></li>
        <li><a href="index.php?p=Admin&c=Login&a=logout">安全退出</a></li>  
{else}
	<li><a href="index.php?p=Admin&c=Login&a=login">登录</a></li>
{/if} 
    </ul>
 

	    </div>
   </div>	
</div>